body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFGDtgASbYTYRnI9YKlJgzAMRPWrt4gqfZfh-_N1P5es8amN2YHA");
}

h1 {
    text-align: center;
    font-size: 50px
}

h2 {
    text-align: center;
    font-size: 40px;
}

p {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.author {
    text-align: right;
    font-size: 30px;
}

li {
    display: inline;
    padding: 30px;
}

ul {
    text-align: center;
}

.mainPhoto {
    text-align: center;
}

img {
    border: 1px solid #ddd;
    border-radius: 20%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 20px 15px 0 rgba(0, 0, 0, 0.612);
}

li img {
    width: 150px;
}

.cat {
    width: 40%
}

li img:hover {
    transform: scaleX(-1);
    box-shadow: -10px 20px 15px 0 rgba(0, 0, 0, 0.612);
}